<!DOCTYPE html>
<html>

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app">
        <div class="find-text" role="toolbar">
            <form action="#" method="GET" class="find-text__form">
                <div>
                    <fieldset name="find">
                        <div>
                            <input type="text" name="find.text" value="" placeholder="Find">
                            <div>
                                <ul>
                                    <li role="checkbox">
                                        <input type="checkbox" id="find-matchcase" name="option" value="matchcase" data-cmd="ignoreCase" class="find">
                                        <label for="find-matchcase" title="Case sensitive">Aa</label>
                                    </li>
                                    <li role="checkbox">
                                        <input type="checkbox" id="find-wholeword" name="option" value="wholeword" checked data-cmd="wholeWord">
                                        <label for="find-wholeword" title="Whole word">&#8222;&#8221;</label>
                                    </li>
                                    <li role="checkbox">
                                        <input type="checkbox" id="find-regularexpression" name="option" value="regularexpression" data-cmd="regularExpression">
                                        <label for="find-regularexpression" title="Regular expression">.*</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</body>

</html>